# pyc文件
*.bak
*.pyc
*.db
*.orig

# 日志文件
/log

# settings文件
.settings/

# gulp数据过滤
/node_modules

# medias下的文件
/medias

# 以.开头的文件，.gitignore除外
\.*
!.gitignore

# PID文件
*.pid

wework/local_settings.py

robots.txt
*.sh